@keyframes trash-animation {
    0% {transform: rotate(10deg) scale(1.1);}
    25% {transform: rotate(-10deg) scale(1.1);}
    50% {transform: rotate(10deg) scale(1.1);}
    75% {transform: rotate(-10deg);}
    95% {transform: rotate(10deg);}
    100% {transform: rotate(0deg);}
}

.TodoItem {
    background-color: #fafafa;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    box-shadow: 0px 5px 30px #a207b5;
    border-radius: 5px;
}
.TodoItem:hover {
    transform: scale(1.01);
    transition: 0.2s ease-out;
}
  
.TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}
.TodoItem-p--complete {
    text-decoration: line-through;
}
  
.Icon {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
}
  
.Icon-check {
    position: absolute;
    left: 12px;
}
.Icon-check:hover {
    transform: scale(1.15);
    transition: 0.2s ease-out;
}
.Icon-check--active {
    color: #4caf50;
}
  
.Icon-delete {
    position: absolute;
    top: -8px;
    right: -10px;
}
.Icon-delete:hover {
    animation-name: trash-animation;
    animation-duration: 1.6s;
}